{% extends 'base.html' %}
{% load static%}
{% block title %}AR Tutorials{% endblock title %}
{% block body %}

    <div class="heading_forAR">
        <h2>First-aid AR Tutorials</h2>
    </div>
   <main class="ARContent">
    <div class="tutAR">
    <div class="tutorials">
        <p>Tutorial to perform CPR on a person.</p>
    </div>
    <div class="tutorials">
        <p>First-aid tutorial for the person who got severe bleeding.</p>
    </div>
    <div class="tutorials">
        <p>First-aid tutorial for the person who got minor burns.</p>
    </div>
    <div class="tutorials">
        <p>First-aid tutorial for the reduction of the impact of snake bite.</p>
    </div>
    <div class="tutorials">
        <p>First-aid tutorial for the person who got fractured.</p>
    </div>
   </div>
   <div class="ARimg">
        <img src="https://cdn-icons-png.flaticon.com/512/4647/4647093.png" alt="">
   </div>
  </main>
  {% endblock body %}