{% extends 'base.html' %}
{% load static%}
{% block title %}Book an Ambulance{% endblock title %}
{% block body %}

<body>
    <div class="image-form">
        <div class="image">
            <img src="{% static 'images/call_ambulance.png' %}" alt="">
        </div>
        <div class="form">
            <p>Search for Ambulance</p>
            <form action="#">
                <label for="name">Name<span>*</span></label>
                <input type="text" id="name" name="name" placeholder="Your Name">

                <label for="mobile">Mobile Number<span>*</span></label>
                <input type="number" id="mobile" name="phone" placeholder="Your Mobile Number">

                <label for="p-location">Enter Pickup Location<span>*</span></label>
                <input type="text" id="p-location" name="Location" placeholder="Enter Your Location">

                <label for="d-location">Enter Drop Location<span>*</span></label>
                <input type="text" id="d-location" name="Location" placeholder="Enter location">

                <button type="button" class="btn btn-success"><a href="#">Search Nearest Ambulance</a></button>
            </form>
        </div>
    </div>

    {% endblock body %}