{% extends 'base.html' %}
{% load static%}
{% block title %}Contact Us{% endblock title %}
{% block body %}

<div class="container">
    <h2>Contact Us</h2>
    <div class="forms">
        <div class="addemailetc">
            <div class="ouraddress">
                <img src="https://cdn.vox-cdn.com/thumbor/KqYnd6YgxZ6yJvyBCk-heGXYEMM=/0x0:1280x800/1400x1400/filters:focal(640x400:641x401)/cdn.vox-cdn.com/uploads/chorus_asset/file/19700731/googlemaps.png"
                    alt="">
                <h3>Our Address</h3>
                <p>KIET Group of Institutions, Ghaziabad</p>
            </div>
            <div class="emailus">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Gmail_Icon_%282013-2020%29.svg/2560px-Gmail_Icon_%282013-2020%29.svg.png"
                    alt="">
                <h3>Email Us</h3>
                <p>rohanrathi2407@gmail.com</p>
            </div>
            <div class="callus">
                <img src="https://e7.pngegg.com/pngimages/915/706/png-clipart-blue-call-icon-dialer-android-google-play-telephone-phone-blue-text.png"
                    alt="">
                <h3>Call Us</h3>
                <p>+91-8394842205</p>
            </div>
        </div>
        <div class="mainform">
            <form class="contactcontent" action="/contact" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Your Name" id="contactusname" name="name" required>
                <input type="email" placeholder="Your Email" id="contactusemail" name="email" required>
                <input type="text" placeholder="Phone Number" id="contactusphone" name="phone" required>
                <textarea id="contactusmessage" cols="10" rows="5" placeholder="Message" name="content" required></textarea>
                <button type="submit" class="btn btn-success" id="contactsubmitbtn">Send Message</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}