{% extends 'base.html' %}
{% load static%}
{% block title %}Health Suraksha{% endblock title %}
{% block body %}

</section>
<main class="home-page">
  <div class="content" id="home">
    <h1>Glance of Health Suraksha</h1>
    <h5>We are here to provide the healthcare services like doctor consultation,
      calling an ambulance, AR first-aid tutorials for sudden injuries etc to the peoples all over the country.
    </h5>
  </div>
  <div>
    <img src="https://img.freepik.com/free-vector/emergency-ambulance-with-equipped-doctors_23-2148536273.jpg?w=2000"
      alt="">
  </div>
</main>

<div class="heading">
  <h1>Our Services</h1>
</div>
<div class="services" id="service">
  <div class="consultation">
    <a href="/consultation"><img src="{% static 'images/doctor-patient.png' %}" alt=""></a>
    <p><a href="/consultation">Doctor Consultation</a></p>
  </div>
  <div class="ambulance">
    <a href="/ambulance"><img src="{% static 'images/ambulance.png' %}" alt=""></a>
    <p><a href="/ambulance">Call an Ambulance</a></p>
  </div>
  <div class="AR">
    <a href="/AR_tut"><img src="{% static 'images/360-degrees.png' %}" alt=""></a>
    <p><a href="/AR_tut">AR/VR Tutorials</a></p>
  </div>
  <div class="blood_donation">
    <a href=""><img src="{% static 'images/blood-icon.png' %}" alt=""></a>
    <p><a href="">Blood Donation</a></p>
  </div>
  <div class="lab_tsts">
    <a href=""><img src="{% static 'images/microscope.png' %}" alt=""></a>
    <p><a href="">Lab Tests</a></p>
  </div>
</div>
<div class="heading" id="review">
  <h1>Our Patients Reviews...</h1>
</div>
<div class="reviews">
  <div>
    <img src="" alt="">
    <h3>Patient 1</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, necessitatibus? Minus dolorem iure quasi at cum.
    </p>
  </div>
  <div>
    <img src="" alt="">
    <h3>Patient 2</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, necessitatibus? Minus dolorem iure quasi at cum.
    </p>
  </div>
  <div>
    <img src="" alt="">
    <h3>Patient 3</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, necessitatibus? Minus dolorem iure quasi at cum.
    </p>
  </div>
  <div>
    <img src="" alt="">
    <h3>Patient 4</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, necessitatibus? Minus dolorem iure quasi at cum.
    </p>
  </div>
  <div>
    <img src="" alt="">
    <h3>Patient 5</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, necessitatibus? Minus dolorem iure quasi at cum.
    </p>
  </div>
  <div>
    <img src="" alt="">
    <h3>Patient 6</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, necessitatibus? Minus dolorem iure quasi at cum.
    </p>
  </div>
</div>
<footer>
  <div class="footer-content" id="contact">
    <h3>Healthcare Services</h3>
    <p>You can join us or contact us on various social media platforms, our social handles are given below, just tap and
      help us in making a healthy India.
      <hr>
      Made with ❤️ by Team Scrappers
    </p>
    <ul class="socials">
      <li><a href="https://facebook.com/Rohan Rathi"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/rohanRathi999"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://google.com"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://youtube.com"><i class="fa fa-youtube"></i></a></li>
      <li><a href="https://www.linkedin.com/rohanRathi999"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy; <a href="#">Healthcare Services</a></p>
  </div>

</footer>


{% endblock body %}