{% extends 'base.html' %}
{% load static%}
{% block title %}SignUp{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'css/signup.css' %}">{% endblock css %}
{% block body %}

  <div class="form">
      <div class="content">
        <ul>
          <li><h3><a href="/signin">Log in</a></h3></li>
          <li class="line"></li>
          <li><h3><a href="/signup">Sign Up</a></h3></li>
        </ul>
      </div>
      <div class="essentials">
        <form action="/signup" method="post">
          {% csrf_token %}
          <input type="text" id="firstname" name="fname" placeholder="First Name">
          <input type="text" id="lastname" name="lname" placeholder="Last Name">
          <input type="text" id="userrr" name="username" placeholder="Username">
          <input type="email" id="reg-email" name="email" placeholder="Email">
          <input type="password" id="your-pass" name="pass1" placeholder="Your password">
          <button type="submit" class="signup-btn" role="button">Sign up</button>
        </form>
      </div>
    </div>

</body>
</html>

{% endblock body %}